.faq {
  margin-bottom: 50px;
}

.faqInner {
  margin-bottom: 20px;
}

.imageBox {
  display: flex;
  margin-top: 30px;
}
@media (min-width: 992px) {
  .faq {
    margin-bottom: 120px;
  }
  .imageBox {
    margin-top: 40px;
  }
}
