.business {
  padding: 0 10px;
  margin-bottom: 50px;
}

.businessMain {
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid #ccc;
  justify-content: space-between;
  padding: 10px 10px 30px;
  gap: 20px;
}

.businessWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.businessInner {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.businessTitle {
  color: #303030;
  font-family: "Stapel";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 95.833%;
  text-transform: capitalize;
}

.businessText {
  color: #7a7a7a;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
}

.businessLinkBox {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.businessLink {
  display: flex;
  justify-content: center;
  padding: 11px 31px;
  color: #3e3e3e;
  font-family: "Stapel";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  border-radius: 100px;
  border: 1px solid #c4c4c4;
  width: 140px;
  margin: auto;
}

.businessImgBox {
  display: flex;
}

.businessImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 992px) {
  .business {
    padding: 0 40px;
    margin-bottom: 120px;
  }
  .businessMain {
    flex-direction: row;
    padding: 0;
    gap: 0;
  }
  .businessWrapper {
    border-right: 1px solid #ccc;
    padding: 50px 30px 30px;
    width: 50%;
  }

  .businessInner {
    gap: 20px;
  }

  .businessTitle {
    font-size: var(--font24);
  }

  .businessText {
    font-size: var(--font14);
  }
  .businessLink {
    padding: 13px 38px;
    width: 160px;
    margin: 0;
  }

  .businessImgBox {
    width: 50%;
    padding: 20px;
  }
}
