.editor {
  color: #7a7a7a;
  font-family: "Manrope";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.857%;
}

.editorBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editorInner {
  display: flex;
  align-items: center;
  gap: 15px;
}

.editorLink {
  border-radius: 50px;
  background: transparent;
  color: #9a9a9a;
  font-family: "Manrope";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  text-transform: lowercase;
  border: none;
  width: auto;
  height: auto;
  padding-left: 8px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.editorIconBox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff8115;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
}

.editorIcon {
  object-fit: cover;
}

.editorLink span {
  display: none;
}

.tabMain {
  width: 100%;
}

.tabContext {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.tabList :global(.Mui-selected) {
  color: black !important;
}

.tabList :global(.MuiTabs-flexContainer) {
  justify-content: space-between;
  margin-bottom: 0;
  padding: 0;
}

button.tabLabel {
  color: #c1c1c1;
  font-family: "Stapel";
  font-size: var(--font16);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding: 0;
  border: none;
  background: transparent;
  width: 100%;
  text-transform: initial;
}

.tabPanel {
  padding: 0;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accordionTitle {
  color: #4e4e4e;
  font-family: "Stapel";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
@media (min-width: 992px) {
  .editor {
    max-width: 52vw;
  }
  .editorLink span {
    display: block;
  }

  .editorLink {
    width: 120px;
    height: 36px;
    border: 1px solid #9a9a9a;
    background: #f9f9f9;
  }
}

@media (min-width: 1440px) {
  .editorLink {
    border: 1px solid #9a9a9a;
    width: 8vw;
    height: 36px;
    font-size: var(--font14);
  }
  .editor {
    font-size: var(--font14);
  }
}
