.formContentWrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 30px;
  padding: 10px 10px 30px;
  border: 1px solid #ccc;
  margin-top: 50px;
}
.formContentImgBox {
  display: flex;
}

.formContentImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.projectInner {
  margin: 0 -10px;
  position: relative;
  top: -1px;
}

@media (min-width: 992px) {
  
  .formContentWrapper {
    flex-direction: row;
    align-items: center;
    gap: 50px;
    padding: 20px 30px;
    margin-top: 80px;
  }

  .formContentImgBox {
    width: 50%;
  }

  .projectInner {
    margin: 0 -40px;
  }
}