.wrapper {
  padding: 120px 10px 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.wrapper > div {
  width: 100%;
}

.wrapper > div > form > div {
  width: 100% !important;
}

.wrapper > div > form > button {
  margin: auto;
}

.wrapper > form > div::before {
  background-color: transparent;
}

button.closeBtn {
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 120px 40px 0;
  }
}


@media (min-width: 992px) {
  button.closeBtn {
    display: flex;
  }
}