.articleInfo {
  margin-bottom: 80px;
  padding-top: 100px;
}

@media (min-width: 600px) {
  .articleInfo {
    padding-top: 130px;
  }
}
@media (min-width: 992px) {
  .articleInfo {
    margin-bottom: 120px;
    padding-top: 150px;
  }
}
