.title {
  color: #333;
  font-family: "Stapel";
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  white-space: pre-line;
}

@media (min-width: 992px) {
  .title {
    font-size: var(--font40);
  }
}
