.sideBarLang {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebarBtn {
  color: #757575;
  font-family: "Stapel";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 185.714%;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
  min-width: auto;
}
.active {
  color: #fff;
}

.sidebarActive {
  color: #000;
}

@media (min-width: 992px) {
  .sidebarBtn {
    font-size: var(--font14);
  }
}