.info {
  padding: 0 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.infoList {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.infoItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

.infoDesc {
  color: #424242;
  font-family: "Stapel";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.infoText {
  color: #424242;
  font-family: Stapel;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}

.infoImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.infoLink {
  color: #3e3e3e;
  font-family: "Stapel";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  border-radius: 100px;
  border: 1px solid #c4c4c4;
  padding: 13px 0;
  text-align: center;
  width: 240px;
  margin: auto;
}

@media (min-width: 992px) {
  .info {
    padding: 0 40px;
    gap: 50px;
    margin-bottom: 120px;
  }

  .infoList {
    gap: 50px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .infoItem {
    gap: 0px;
  }

  .infoDesc {
    font-size: var(--font14);
  }

  .infoText {
    font-size: var(--font14);
    max-width: 18vw;
  }

  .infoTextSize {
    max-width: 19vw;
  }
  .infoLink {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .infoLink {
    font-size: var(--font14);
  }
}
