.productImages {
  width: 100%;
  position: relative;
}

.productMainSwiper {
  border: 1px solid #ccc;
  padding: 25px;
}

.productMainSwiperItem {
  display: flex;
}

.productBottomSwiper {
  display: none;
}

.productMainImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.productBottomSwiperItem {
  display: flex;
}

.productBottomSwiper :global(.swiper-slide-thumb-active) {
  border: 1px solid #ccc;
}

.productBottomImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 992px) {
  .productImages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
  }
  .productBottomSwiper {
    display: flex;
  }
  .productMainSwiper {
    padding: 30px;
  }
  
}
