.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  position: relative;
  margin-bottom: 25px;
}

.navItem {
  color: #606060;
  font-family: "Stapel";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 185.714%;
  text-transform: lowercase;
}

@media (min-width: 992px) {
  ul.navList {
    display: flex;
    gap: 30px;
    margin-bottom: 0;
    flex-direction: row;
  }
}

@media (min-width: 1440px) {
  .navItem {
    font-size: var(--font14);
  }
}
